.side_bar{
    /* background-color: ; */
    
}
.paragrap{
    cursor: pointer;
    color: #6E012A;
    
}
.side_bar{
    background-color: #F2A694;
    height: 90%;
    margin: 0;
    padding: 0%;
}
