.side_bar{
    /* background-color: ; */
    
}
.paragrap{
    cursor: pointer;
    color: white;
    
}
.side_bar{
    background-color: #6E012A;
    height: 100vh;
    margin: 0;
    padding: 0%;
}
